<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <!-- USB Host Feature -->
    <uses-feature android:name="android.hardware.usb.host" />
    

    
    <!-- Optional: Device filter for automatic detection on app startup -->
    <application>
        <activity
            android:name=".ui.UsbDashboardActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        
        <!-- ContentProvider for DVD video streaming -->
        <provider
            android:name=".media.DvdVideoContentProvider"
            android:authorities="com.ble1st.connectias.dvd"
            android:exported="false"
            android:grantUriPermissions="true"
            android:readPermission="android.permission.READ_EXTERNAL_STORAGE" />
    </application>
    
</manifest>
