<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <!-- USB Host Feature -->
    <uses-feature android:name="android.hardware.usb.host" />
    

    
    <!-- Optional: Device filter for automatic detection on app startup -->
    <application>
        <activity
            android:name=".ui.UsbDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
    </application>
    
</manifest>
