<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <application
        android:label="Connectias Test Plugin"
        android:icon="@android:drawable/ic_menu_info_details">
        
        <!-- Plugin wird als APK gebaut, aber nicht als eigenständige App gestartet -->
        <!-- Die Main Activity ist nur für Metadaten-Zwecke -->
        
    </application>
    
</manifest>
