name: Rust Security Audit

on:
  push:
    branches: [ main, devel ]
  pull_request:
    branches: [ main, devel ]

jobs:
  rust-audit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Install cargo-audit
        if: hashFiles('**/Cargo.toml') != ''
        run: cargo install cargo-audit

      - name: Rust Security Audit
        if: hashFiles('**/Cargo.toml') != ''
        working-directory: core/src/main/rust
        run: cargo audit
